/*Fonts*/

@font-face {
  font-family: Fredoka;
  src: url(fonts/Fredoka-Medium.ttf);
}
/*@font-face {
  font-family: Righteous;
  src: url(fonts/Righteous-Regular.ttf);
}
*/

/*Defaults Styling*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Righteous;
  cursor: default;
}
header {
  position: absolute;
  top: 0px;
  width: 100%;
}
nav {
  padding: 0;
}
a {
  font-family: Righteous;
  font-size: .85rem;
  text-decoration: none;
}
img {
  width: 100%;
}
h1,h2,h3,p{
  margin: 0;
}
h1 {
  font-family: Righteous;
  font-size: 2.925rem;
}
h2 {
  font-family: Righteous;
  font-size: 1.5rem;
}
h3 {
  font-family: Righteous;
  font-size: 1.5rem;
}
p {
  font-family: Fredoka;
  font-size: 1.125rem;
}

/*Advanced Styling*/

/*Navigation block*/

.main-block {
  width: 100%;
  min-width: 400px;
  margin: auto;
}
.nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5),rgba(4, 9, 30, 0.001));
  padding: 0 2em;
  transition: linear-gradient 0.4s ease;
}
.nav-block:hover {
  background-image: linear-gradient(rgba(4, 9, 30, 0.8),rgba(4, 9, 30, 0.1));
}
.side-block {
  margin-top: 1em;
}
.logo-block {
  padding: 1em 0;
  line-height: 1.7em;
}
.logo-block a h1 {
  color: #FFFFFF;
}
.logo-block a p {
  color: #FF9100;
}

/*Link block*/

.link-block {
  display: block;
}
.link-block.active {
  display: block;
}
.link-block ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.link-block ul li {
  margin-left: 4em;
}
.link-block ul li:hover {
  transform: scale(1.05);
  transition: 0.05s ease-in;
}
.link-block ul li a {
  text-decoration: none;
}
.link {
  color: #FFFFFF;
  letter-spacing: .2em;
  padding-left: .2em;
}
.link:hover {
  color : #FFB300;
}
.link.active {
  border-bottom: 2px solid  #FFB300;
  color: #FFB300;
}
.link-btn {
  color: #FFFFFF;
  background-color: #FF9100;
  border-radius: .3em;
  padding: .8em 2em;
  letter-spacing: .1em;
  border: none;
}
.link-btn:hover {
  background-color: #FF9100;
}


/*Slide show*/
.mySlides {
  display: block;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: 100vh;
  overflow: hidden;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 95px 12px;
  position: absolute;
  top: 350px;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.001),rgba(4, 9, 30, 0.7));
  text-align: center;
}
.text .slide-header{
  font-size: 5rem;
  color: #FF9100;
  letter-spacing: .25rem;
}
.slideHeader{
  color: #FF9100;
}
.chamberDescription p{
  padding: .5em 2em;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}
/* The dots/bullets/indicators */
.dots{
  display: none;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #aaa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
  display: none;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*Input styling*/

:root{
  /*===== Colores =====#1A73E8 #FF9100 DADCE0 80868B*/
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fuente y tipografia =====*/
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}

/*===== FORM =====*/
.search-container {
  //padding-top: .5em;
  background-image: url(img/bckgForm.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
}
.search-container .wrapper {
  //background-color: #FFFFFF;
  background-image: url(img/bkForm4k4.jpg);
  margin: 0 2em;
  border-radius: .5em;
  //border-bottom-left-radius: .5em;
  //border-bottom-right-radius: .5em;
  padding: 1em 0;
  margin-bottom: 1.5em;
  box-shadow: 0px 2px 1px #DADCE0;
}
.search {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-input{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-group{
  display: flex;
  border-radius: 2px;
  margin: .5em 1em;
  width: 300px;
}
.input-group-text{
  background-color:  #1A73E8;
  color: #FFFFFF;
  letter-spacing: 1px;
  border-radius: 3px;
  width: 40%;
  line-height: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: center;
  height: 30px;
  margin: 0
}
.form-input::placeholder{
  color: #1f1f1f;
}
.input-text{
}
.input-text p{
  margin: 1em 0;
  padding: 0 5em;
  color: #FFFFFF;
}
.form-text{
  width: 82%;
  height: 100px;
  margin: 0 6em;
  color: #1f1f1f;
  font-family: Righteous;
  padding: .3em .5em;
  font-size: 15px;
  border-radius: 5px;
}
.form-text::placeholder{
  color: #1f1f1f;
  font-family: Righteous;
}


.form-input{
  padding: 0 0;
}
.form-select,.form-input{
  width: 200px;
  margin: 0;
  border: 1px solid #aaa;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  font-family: Righteous;
  font-weight: 100;
  letter-spacing: 1px;
}
select, option, input{
  font-size: 14px;
  font-weight: 100;
  height: 30px;
  padding: 2px;
  border: none;
}
input[type="text"]{
  padding: 0 .4em;
}

.form-user{
  width: 100%;
  padding: 0 2.5em;
  display: flex;
  justify-content: space-around;
}
.formDescription{
  width: 300px;
  border-radius: 1rem;
}
.form__title h1{
  //color: #FF9100;
  color: #1A73E8;
  font-size: 3rem;
}
.form__title p {
  color: #FFFFFF;
}
.form__title{
  margin-bottom: 1rem;
  text-align: center;
}
/*
.form{
  width: 400px;
  border-radius: 1rem;
}
.formDescription{
  width: 300px;
  border-radius: 1rem;
}
.form-descrip{
  padding: 0 3.5em;
  margin-top: 1em;
}
.form-inputDescription{
  width: 100%;
  height: 100px;
  background-color: #ddd;
  border: none;
  font-family: Righteous;
  resize: none;
  padding: 1em;
}
.form-description{
  margin-bottom: 1em;
}
input {
	background-color: #ddd;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size: 16px;
  font-family: Righteous;
}
input::placeholder{
  font-size: 14px;
}
textarea {
  font-size: 16px;
}
textarea::placeholder{
  font-size: 14px;
}
/*
.form__div{
  position: relative;
  height: 40px;
  margin-bottom: .8rem;
  border-radius: .5rem;
}
.form__div:hover{
  background-color: #FFFFFF;
}

.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 3px solid var(--border-color);
  background-color: red;
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  color: #000000;
  font-family: Fredoka;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: .5rem;
  padding: 0 .25rem;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}
.form__button{
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
.form__div:focus {
  background-color: #fff;
}
.form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
  transition: .3s;
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  background-color: #fff;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus){
  border: 3px solid var(--first-color);
}

.form__input:focus{
  //border: 3px solid var(--first-color);
  border: none;
  border-bottom: 3px solid var(--first-color);
  border-radius: 0;
  transition: .3s;
}
*/
.link-btn.search-btn{
  background-color: #FF9100;
}
.link-btn.search-btn:hover{
  transform: scale(1.05);
  transition: 0.05s ease-in;
}
.fa-search {
  margin: 0 1em;
  font-size: 1.5em;
}
